.imagen-bar {
    margin-left: 10px;
    border-radius: 50%;
}

h2 {
    margin: 8px 0;
    margin-left: 8px;
    padding: .3rem;
    font-size: 1.2rem;
    font-weight: 700;
}



@media (max-width: 480px) {
    .cards-carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1rem;
        padding: 1rem 0;
        scroll-behavior: smooth;
        min-width: 320px;
        width: 100%;
    }

    .cards-carousel .card {
        width: 90%;
        max-width: 350px;
        /* background-color: red; */
    }
}


@media (min-width: 480px) {
    .cards-carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 1rem;
        padding: 1rem 0;
        scroll-behavior: smooth;
        width: 100%;
    }
}

.imgItem img {
    border-radius: 50%;
}

.card {

    flex: 0 0 auto;
    border: none !important;
    scroll-snap-align: start;
    background-color: #1e1e2f;
    border-radius: 1rem;
    padding: 1rem;
    width: 350px;
    color: white;
    background-color: #13132d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.items-container {
    margin: 4px 0;
    display: flex;
    font-size: .8rem;
    font-weight: 600;
    white-space: nowrap;
    /* No permite saltos de línea */
    overflow: hidden;
    /* Oculta el texto que se desborda */
    text-overflow: unset;
}


.address {
    display: flex;
    justify-content: center;

}

.button {
    border-radius: .25rem;
    font-style: normal;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    width: 200px;
    height: 32px;
    font-size: 0.9rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg, #3940e8, #e11ad6);
    border: 0 solid;
    overflow: hidden;
}

.button:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
    padding-left: 30px;
}

.button-2 {
    border: 2px solid transparent;
    border-radius: .25rem;
    font-style: normal;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    width: 300px;
    height: 32px;
    font-size: 0.9rem;
    line-height: 14px;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(#13132d, #13132d), linear-gradient(90deg, #3940e8, #e11ad6);
    background-clip: padding-box, border-box;
}




.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}