.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 60px;
}

li {
    list-style-type: none;
}

span {
    font-size: 0.8rem;
    color: white;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}